<p>
  <b>Email:</b>
  <% user=User.find(params[:id])%>
  <%= user.email %>
</p>
<p>
  <b>Name:</b>
  <%= user.name %>
</p>
<p>
  <b>Posts:</b> <br/>
  <% user.posts.each do |post| %>
     <%= button_to 'x', post,method: :delete %>
    <%= post.content %><br/><br/>
  <%end%>
</p>
<%= button_to 'Wright Post', new_post_path %>



